<style>
    footer {
        background-color: white;
        width: 100%;
        font-size: 16px;
        color: rgb(154, 154, 154);
        padding: 1rem 1rem;
        text-align: center;
        position: fixed;
        bottom: 0;
    }

    @media only screen and (max-width: 600px) {
        footer>p {
            font-size: 0.7rem;
        }
    }
</style>
<footer>
    <p>© Copyright - 2025 URL Shortener</p>
</footer>